@font-face {
    font-family: "Bananazep";
    src: local("Bananazep"),
        url("./src/assets/BananazepFontVariableVF.woff2") format("woff2");
}
:root {
    --small-spacing: 0.3rem;
    --medium-spacing: 0.5rem;
    --large-spacing: 0.9rem;

    --gradient: linear-gradient(
        111.4deg,
        rgba(238, 113, 113, 1) 1%,
        rgba(246, 215, 148, 1) 58%
    );
    --color-gradient: rgba(238, 113, 113, 1);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;

    font-size: clamp(14pt, 2vw, 26pt);
}

header {
    position: sticky;
    top: 0;
    padding: clamp(0.5rem, 2vw, 3rem);
    background-image: var(--gradient);
    background-color: var();
}

header,
.control {
    display: flex;
    /* flex-flow: row; */
    flex-wrap: wrap;
    gap: var(--large-spacing);
    align-items: center;
}

main {
    font-family: "Bananazep";
    margin: 0 auto;
    padding: 2rem clamp(0.5rem, 2vw, 3rem);
}

section {
    padding: clamp(0.5rem, 2vw, 3rem);
}

section:nth-child(even) {
    /* background-image: var(--gradient);
    background-color: var(--color-gradient);
    border-radius: 2em; */
}
section > section {
    /* background-image: none !important;
    background-color: transparent !important;
    padding: 00; */
}

section > section + section {
    margin-top: 5em;
}

section.full {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

h1 > span,
h2 > span,
p > span {
    font-variation-settings: "wght" 100 !important;
}

h1 {
    font-size: clamp(4em, 10vh, 6em);
}

h2,
h3 {
    margin: 0.5em 0;
}

h3 {
    color: #0e197d;
}
.control {
    font-size: 75%;
    padding: clamp(var(--small-spacing), 1vw, var(--large-spacing))
        var(--large-spacing);
    border: none;
    border-radius: var(--small-spacing);
    background-color: rgba(255, 255, 255, 0.1);
}
p.line-break {
    line-break: anywhere;
}

p.centered {
    text-align: center;
}
